## 結構化資料處理
- https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/eps.xlsx

In [3]:
import pandas
eps = pandas.read_excel('C:/Users/user/Downloads/eps.xlsx', index_col = 0)

In [4]:
eps.head()

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利,Year,Season
0,1102,亞洲水泥股份有限公司,水泥工業,0.40,新台幣 10.0000元,13931550,339801,1250044,1371559,102,1
1,1101,台灣水泥股份有限公司,水泥工業,0.38,新台幣 10.0000元,24114047,2026729,314060,1999624,102,1
2,1104,環球水泥股份有限公司,水泥工業,0.30,新台幣 10.0000元,1248072,30247,156012,183441,102,1
3,1108,幸福水泥股份有限公司,水泥工業,0.17,新台幣 10.0000元,1203671,98223,-13612,63869,102,1
4,1103,嘉新水泥股份有限公司,水泥工業,0.13,新台幣 10.0000元,741189,-149811,183613,59637,102,1

In [6]:
import pandas
stock = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/TWII.csv')
stock.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-03-04,7966.220215,7966.220215,7849.520020,7867.339844,7867.339844,2278000.0
1,2013-03-05,7910.439941,7939.850098,7882.560059,7932.709961,7932.709961,2246200.0
2,2013-03-06,7958.109863,7982.390137,7936.859863,7950.299805,7950.299805,2329600.0
3,2013-03-07,7950.899902,7984.290039,7942.370117,7960.509766,7960.509766,2261400.0
4,2013-03-08,7981.000000,8029.140137,7981.000000,8015.140137,8015.140137,2719000.0

## 半結構化資料處理

In [7]:
import pandas
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')
tw2330

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

In [12]:
from xml.dom import minidom
from xml.etree import ElementTree

f = open('C:/Users/user/Downloads/1435449602.xml', 'r', encoding='utf-8')
events=ElementTree.fromstring(f.read())
f.close()

In [13]:
for elem in events.findall('./channel/item'):
    guid        = elem.find('guid').text
    title       = elem.find('title').text
    description = elem.find('description').text
    pubDate     = elem.find('pubDate').text
    source      = elem.find('source').text
    print(title)
    break

八仙塵爆  五相關人依公共危險重傷害法辦

## PDF 處理
- https://github.com/ywchiu/cdc_course/blob/master/PDF%20Decrypt.ipynb

## GET

In [14]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [16]:
#res.text

In [17]:
type(res)

requests.models.Response

In [18]:
print(dir(res))

['__attrs__', '__bool__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_content', '_content_consumed', '_next', 'apparent_encoding', 'close', 'connection', 'content', 'cookies', 'elapsed', 'encoding', 'headers', 'history', 'is_permanent_redirect', 'is_redirect', 'iter_content', 'iter_lines', 'json', 'links', 'next', 'ok', 'raise_for_status', 'raw', 'reason', 'request', 'status_code', 'text', 'url']

## HTTP Status
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

## POST

In [19]:
import requests
url = 'http://www.thsrc.com.tw/tw/TimeTable/Search'

payload = {
'StartStationName'  :  '台北站',
'EndStationName'    :  '新竹站',
'SearchType'        :  'S',
'StartStation'      :  '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation'        :  'a7a04c89-900b-4798-95a3-c01c455622f4',
'DepartueSearchDate':  '2019/06/02',
'DepartueSearchTime':  '21:00'  
}

res = requests.post(url, data = payload)
res

In [23]:
#res.json()['data']

## 台灣證交所
- http://www.twse.com.tw/zh/page/trading/exchange/MI_INDEX.html