## 結構化資料處理
- https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/eps.xlsx

In [3]:
import pandas
eps = pandas.read_excel('C:/Users/user/Downloads/eps.xlsx', index_col = 0)

In [4]:
eps.head()

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利,Year,Season
0,1102,亞洲水泥股份有限公司,水泥工業,0.40,新台幣 10.0000元,13931550,339801,1250044,1371559,102,1
1,1101,台灣水泥股份有限公司,水泥工業,0.38,新台幣 10.0000元,24114047,2026729,314060,1999624,102,1
2,1104,環球水泥股份有限公司,水泥工業,0.30,新台幣 10.0000元,1248072,30247,156012,183441,102,1
3,1108,幸福水泥股份有限公司,水泥工業,0.17,新台幣 10.0000元,1203671,98223,-13612,63869,102,1
4,1103,嘉新水泥股份有限公司,水泥工業,0.13,新台幣 10.0000元,741189,-149811,183613,59637,102,1

In [6]:
import pandas
stock = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/TWII.csv')
stock.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-03-04,7966.220215,7966.220215,7849.520020,7867.339844,7867.339844,2278000.0
1,2013-03-05,7910.439941,7939.850098,7882.560059,7932.709961,7932.709961,2246200.0
2,2013-03-06,7958.109863,7982.390137,7936.859863,7950.299805,7950.299805,2329600.0
3,2013-03-07,7950.899902,7984.290039,7942.370117,7960.509766,7960.509766,2261400.0
4,2013-03-08,7981.000000,8029.140137,7981.000000,8015.140137,8015.140137,2719000.0

## 半結構化資料處理

In [7]:
import pandas
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')
tw2330

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

In [12]:
from xml.dom import minidom
from xml.etree import ElementTree

f = open('C:/Users/user/Downloads/1435449602.xml', 'r', encoding='utf-8')
events=ElementTree.fromstring(f.read())
f.close()

In [13]:
for elem in events.findall('./channel/item'):
    guid        = elem.find('guid').text
    title       = elem.find('title').text
    description = elem.find('description').text
    pubDate     = elem.find('pubDate').text
    source      = elem.find('source').text
    print(title)
    break

八仙塵爆  五相關人依公共危險重傷害法辦

## PDF 處理
- https://github.com/ywchiu/cdc_course/blob/master/PDF%20Decrypt.ipynb

## GET

In [14]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [16]:
#res.text

In [17]:
type(res)

requests.models.Response

In [18]:
print(dir(res))

['__attrs__', '__bool__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_content', '_content_consumed', '_next', 'apparent_encoding', 'close', 'connection', 'content', 'cookies', 'elapsed', 'encoding', 'headers', 'history', 'is_permanent_redirect', 'is_redirect', 'iter_content', 'iter_lines', 'json', 'links', 'next', 'ok', 'raise_for_status', 'raw', 'reason', 'request', 'status_code', 'text', 'url']

## HTTP Status
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

## POST

In [19]:
import requests
url = 'http://www.thsrc.com.tw/tw/TimeTable/Search'

payload = {
'StartStationName'  :  '台北站',
'EndStationName'    :  '新竹站',
'SearchType'        :  'S',
'StartStation'      :  '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation'        :  'a7a04c89-900b-4798-95a3-c01c455622f4',
'DepartueSearchDate':  '2019/06/02',
'DepartueSearchTime':  '21:00'  
}

res = requests.post(url, data = payload)
res

In [23]:
#res.json()['data']

## 台灣證交所
- http://www.twse.com.tw/zh/page/trading/exchange/MI_INDEX.html

In [24]:
import requests
res = requests.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=&type=&_=1559447273004')
res

In [27]:
#res.json()

In [29]:
jd = res.json()
jd['data2']

[['寶島股價報酬指數', '14,435.06', "<p style ='color:red'>+</p>", '161.08', '1.13'],
 ['發行量加權股價報酬指數', '18,730.94', "<p style ='color:red'>+</p>", '206.16', '1.11'],
 ['臺灣公司治理100報酬指數', '7,021.47', "<p style ='color:red'>+</p>", '86.88', '1.25'],
 ['臺灣50報酬指數', '14,138.53', "<p style ='color:red'>+</p>", '195.03', '1.40'],
 ['臺灣中型100報酬指數', '12,740.81', "<p style ='color:red'>+</p>", '140.56', '1.12'],
 ['臺灣資訊科技報酬指數', '17,008.37', "<p style ='color:red'>+</p>", '338.22', '2.03'],
 ['臺灣發達報酬指數', '13,314.88', "<p style ='color:red'>+</p>", '111.46', '0.84'],
 ['臺灣高股息報酬指數', '12,715.32', "<p style ='color:red'>+</p>", '195.09', '1.56'],
 ['臺灣永續報酬指數', '5,501.20', "<p style ='color:red'>+</p>", '67.38', '1.24'],
 ['臺灣就業99報酬指數', '8,154.94', "<p style ='color:red'>+</p>", '99.31', '1.23'],
 ['臺灣高薪100報酬指數', '7,049.32', "<p style ='color:red'>+</p>", '79.65', '1.14'],
 ['未含金融電子報酬指數', '23,161.92', "<p style ='color:red'>+</p>", '109.66', '0.48'],
 ['小型股300報酬指數', '7,105.35', "<p style ='color:red'>+</p>", '40.54', '0.57'],
 ['漲升股利150報酬指數', '6,766.18', "<p style ='color:red'>+</p>", '75.95', '1.14'],
 ['漲升股利100報酬指數', '6,801.33', "<p style ='color:red'>+</p>", '75.39', '1.12'],
 ['藍籌30報酬指數', '6,080.48', "<p style ='color:red'>+</p>", '86.08', '1.44'],
 ['工業菁英30報酬指數', '6,411.00', "<p style ='color:red'>+</p>", '110.00', '1.75'],
 ['電子菁英30報酬指數', '5,914.58', "<p style ='color:red'>+</p>", '94.08', '1.62'],
 ['低波動股利精選30報酬指數', '6,573.43', "<p style ='color:red'>+</p>", '52.49', '0.80'],
 ['低貝塔100報酬指數', '6,461.71', "<p style ='color:red'>+</p>", '35.03', '0.55'],
 ['中小型精選50報酬指數', '6,182.47', "<p style ='color:red'>+</p>", '51.88', '0.85'],
 ['中小型A級動能50報酬指數', '6,139.68', "<p style ='color:red'>+</p>", '35.78', '0.59'],
 ['特選高息低波報酬指數', '5,653.50', "<p style ='color:red'>+</p>", '44.76', '0.80'],
 ['臺灣生技報酬指數', '4,981.05', "<p style ='color:green'>-</p>", '3.80', '-0.08'],
 ['特選內需高收益報酬指數', '6,115.63', "<p style ='color:red'>+</p>", '21.78', '0.36'],
 ['臺灣中小型公司治理報酬指數', '5,628.10', "<p style ='color:red'>+</p>", '42.17', '0.75'],
 ['臺灣IPO報酬指數', '5,257.47', "<p style ='color:green'>-</p>", '18.91', '-0.36'],
 ['價值投資報酬指數', '5,850.34', "<p style ='color:red'>+</p>", '44.92', '0.77'],
 ['存股雙十等權重報酬指數', '5,061.01', "<p style ='color:red'>+</p>", '60.99', '1.22'],
 ['特選大蘋果報酬指數', '4,908.80', "<p style ='color:red'>+</p>", '85.43', '1.77'],
 ['中小型300報酬指數', '5,479.01', "<p style ='color:red'>+</p>", '47.04', '0.87'],
 ['特股高息20報酬指數', '5,220.03', "<p style ='color:red'>+</p>", '18.19', '0.35'],
 ['臺灣500報酬指數', '5,383.15', "<p style ='color:red'>+</p>", '61.62', '1.16'],
 ['臺灣勞工權益報酬指數', '5,074.73', "<p style ='color:red'>+</p>", '52.99', '1.06'],
 ['水泥類報酬指數', '250.24', "<p style ='color:red'>+</p>", '0.54', '0.22'],
 ['食品類報酬指數', '2,530.50', "<p style ='color:red'>+</p>", '20.04', '0.80'],
 ['塑膠類報酬指數', '435.66', "<p style ='color:red'>+</p>", '2.48', '0.57'],
 ['紡織纖維類報酬指數', '821.50', "<p style ='color:red'>+</p>", '5.26', '0.64'],
 ['電機機械類報酬指數', '228.31', "<p style ='color:red'>+</p>", '2.58', '1.14'],
 ['電器電纜類報酬指數', '61.05', "<p style ='color:red'>+</p>", '0.67', '1.11'],
 ['化學生技醫療類報酬指數', '139.32', "<p style ='color:red'>+</p>", '0.37', '0.27'],
 ['化學類報酬指數', '158.59', "<p style ='color:red'>+</p>", '0.95', '0.60'],
 ['生技醫療類報酬指數', '81.01', "<p style ='color:green'>-</p>", '0.12', '-0.15'],
 ['玻璃陶瓷類報酬指數', '37.45', "<p style ='color:green'>-</p>", '0.02', '-0.05'],
 ['造紙類報酬指數', '250.43', "<p style ='color:green'>-</p>", '1.29', '-0.51'],
 ['鋼鐵類報酬指數', '152.00', "<p style ='color:red'>+</p>", '1.03', '0.68'],
 ['橡膠類報酬指數', '357.07', "<p style ='color:red'>+</p>", '0.87', '0.24'],
 ['汽車類報酬指數', '424.84', "<p style ='color:red'>+</p>", '0.59', '0.14'],
 ['電子工業類報酬指數', '673.80', "<p style ='color:red'>+</p>", '10.55', '1.59'],
 ['半導體類報酬指數', '250.10', "<p style ='color:red'>+</p>", '5.17', '2.11'],
 ['電腦及週邊設備類報酬指數', '160.85', "<p style ='color:red'>+</p>", '1.37', '0.86'],
 ['光電類報酬指數', '45.68', "<p style ='color:red'>+</p>", '1.35', '3.05'],
 ['通信網路類報酬指數', '231.42', "<p style ='color:red'>+</p>", '0.68', '0.29'],
 ['電子零組件類報酬指數', '148.65', "<p style ='color:red'>+</p>", '1.79', '1.22'],
 ['電子通路類報酬指數', '213.97', "<p style ='color:red'>+</p>", '2.20', '1.04'],
 ['資訊服務類報酬指數', '204.30', "<p style ='color:red'>+</p>", '1.76', '0.87'],
 ['其他電子類報酬指數', '98.48', "<p style ='color:red'>+</p>", '0.62', '0.63'],
 ['建材營造類報酬指數', '481.40', "<p style ='color:red'>+</p>", '2.67', '0.56'],
 ['航運類報酬指數', '89.86', "<p style ='color:red'>+</p>", '0.68', '0.76'],
 ['觀光類報酬指數', '127.06', "<p style ='color:red'>+</p>", '0.50', '0.40'],
 ['金融保險類報酬指數', '1,887.59', "<p style ='color:red'>+</p>", '17.32', '0.93'],
 ['貿易百貨類報酬指數', '330.60', "<p style ='color:green'>-</p>", '1.20', '-0.36'],
 ['油電燃氣類報酬指數', '205.13', "<p style ='color:red'>+</p>", '1.75', '0.86'],
 ['其他類報酬指數', '404.20', "<p style ='color:green'>-</p>", '0.70', '-0.17']]

In [30]:
import pandas
df = pandas.DataFrame(jd['data2'])

In [32]:
df.head()

               0          1                            2       3     4
0       寶島股價報酬指數  14,435.06  <p style ='color:red'>+</p>  161.08  1.13
1    發行量加權股價報酬指數  18,730.94  <p style ='color:red'>+</p>  206.16  1.11
2  臺灣公司治理100報酬指數   7,021.47  <p style ='color:red'>+</p>   86.88  1.25
3       臺灣50報酬指數  14,138.53  <p style ='color:red'>+</p>  195.03  1.40
4    臺灣中型100報酬指數  12,740.81  <p style ='color:red'>+</p>  140.56  1.12

In [ ]:
import time
for i in range(1,10):
    res = requests.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=20190530&type=MS&_=1559447273009')
    time.sleep(3)

In [37]:
s = 'I know {} very well'
s.format('Mary')

'I know Mary very well'

In [39]:
import time
from datetime import datetime, timedelta
current_time = datetime.now()
dataary = []
for i in range(1,10):
    dt = (current_time - timedelta(days = i)).strftime('%Y%m%d')
    print(dt)
    res = requests.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date={}&type=MS&_=1559447273009'.format(dt))
    df = pandas.DataFrame(jd['data2'])
    df['date'] = dt
    dataary.append(df)
    time.sleep(3)

20190601
20190531
20190530
20190529
20190528
20190527
20190526
20190525
20190524

In [41]:
dfall = pandas.concat(dataary)
dfall.head()

,0,1,2,3,4,date
0,寶島股價報酬指數,"14,435.06",<p style ='color:red'>+</p>,161.08,1.13,20190601
1,發行量加權股價報酬指數,"18,730.94",<p style ='color:red'>+</p>,206.16,1.11,20190601
2,臺灣公司治理100報酬指數,"7,021.47",<p style ='color:red'>+</p>,86.88,1.25,20190601
3,臺灣50報酬指數,"14,138.53",<p style ='color:red'>+</p>,195.03,1.40,20190601
4,臺灣中型100報酬指數,"12,740.81",<p style ='color:red'>+</p>,140.56,1.12,20190601

## 資料剖析

In [43]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
#res.text

In [44]:
from bs4 import BeautifulSoup
html_sample = '''
<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>'''


soup = BeautifulSoup(html_sample, 'lxml')

In [46]:
type(soup)

bs4.BeautifulSoup

In [49]:
print(soup.text)

Hello World
This is link1
This is link2

In [51]:
soup.select_one('h1')

In [53]:
type(soup.select_one('h1'))

bs4.element.Tag

In [55]:
soup.select_one('h1').text

'Hello World'

In [56]:
soup.select_one('a')

In [58]:
type(soup.select_one('a'))

bs4.element.Tag

In [57]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [60]:
type(soup.select('a'))

list

In [62]:
type(soup.select('a')[0])

bs4.element.Tag

In [63]:
soup.select('a')[1]

In [65]:
soup.select('a')[1].text

'This is link2'

In [66]:
soup.select('h1')

## By CSS

In [68]:
# id => #
soup.select('#title')

In [70]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [72]:
soup.select('h1#title')

In [73]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [74]:
soup.select('body h1#title')

In [75]:
soup.select('body #title')

In [76]:
soup.select('body h1')

In [77]:
soup.select('body a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [79]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [80]:
soup.select('body .link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [82]:
for link in soup.select('a'):
    print(link.text)

This is link1
This is link2

In [83]:
for link in soup.select('a'):
    print(link.get('href'))

#
# link2

In [85]:
s = '<a href="http://xx.url" dataft="qoo" abc="123"> I am Link</a>'
soup2 = BeautifulSoup(s,'lxml')
soup2.select_one('a')

In [87]:
soup2.select_one('a').get('abc')

'123'

In [88]:
soup2.select_one('a').get('dataft')

'qoo'

In [89]:
soup2.select_one('a').get('href')

'http://xx.url'